* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0ebea;
  &::-webkit-scrollbar {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #bfb5b5;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #3f3c3c;
  }
}

:root {
  --index: calc(1vw + 1vh);
  --pixelSize: 2;
}

.banner {
  display: flex;
  min-height: 100vh;
  //   height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.webWindows {
  // background-color: aquamarine;
  flex: 7 1 400px;
  height: 80vh;
  position: relative;

  .windowTittle {
    font-family: pixelFont;
    position: absolute;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    top: 10px;
    left: 10px;
  }

  // 狀態欄
  .feeling {
    position: absolute;
    min-width: 300px;
    min-height: 150px;
    top: 20%;
    left: 20%;
    animation: windowOpen 0.5s 1.2s forwards;
    opacity: 0;
    display: flex;

    .feelingText {
      position: absolute;
      color: #555555;
      top: 45px;
      left: 18px;
      font-size: 26px;
      font-family: pixelFont;
      border-right: 3px solid;
      animation: cursor 0.4s step-end infinite alternate;
    }
  }

  // 這個很好玩！
  .gameInfo {
    position: absolute;
    min-width: 500px;
    min-height: 300px;
    top: 25%;
    left: 35%;
    opacity: 0;
    animation: windowOpen 0.5s 1s forwards;

    .gameInfoTittle {
      color: #555555;
      position: absolute;
      top: 45px;
      left: 18px;
      font-size: 26px;
      font-family: pixelFont;
      border-right: 3px solid;
      animation: cursor 0.4s step-end infinite alternate;
    }

    .gameInfoText {
      color: #555555;
      position: absolute;
      top: 80px;
      left: 18px;
      padding-right: 15px;
      font-size: 22px;
      font-family: pixelFont;
    }
  }

  // 正在遊玩
  .gameRecently {
    position: absolute;
    min-width: 300px;
    min-height: 180px;
    top: 50%;
    left: 65%;
    opacity: 0;
    animation: windowOpen 0.5s 1.3s forwards;
    display: flex;

    .gameRecentlyText {
      color: #555555;
      position: absolute;
      top: 45px;
      left: 18px;
      font-size: 22px;
      font-family: pixelFont;
      border-right: 3px solid;
      animation: cursor 0.4s step-end infinite alternate;
    }
    .gameRecentlyImg {
      position: absolute;
      top: 70px;
      left: 142px;
    }
  }

  // 筆記欄
  .blank {
    position: absolute;
    min-width: 250px;
    min-height: 300px;
    top: 55%;
    left: 25%;
    opacity: 0;
    animation: windowOpen 0.5s 1.5s forwards;
    #memo {
      z-index: 20;
      font-family: pixelFont;
      font-size: 20px;
      background-color: transparent;
      border: none;
      resize: none;
      position: absolute;
      left: 50%;
      top: 45px;
      transform: translateX(-50%);
      width: 85%;
      height: 80%;
      display: flex;
      word-wrap: break-word;
      // padding-bottom: 210px;
      color: #555555;

      &:focus {
        outline: none;
      }
    }
  }
}

.webTittle {
  display: flex;
  flex: 3 1 200px;
  height: 80vh;
  font-family: pixelFont;
  align-items: center;
  position: relative;

  .box {
    position: relative;

    //標語底下的線條
    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 9px;
      display: block;
      width: 0%;
      height: 2px;
      background-color: rgb(0, 0, 0);
      opacity: 0;
      transition: transform 0.5s, opacity 0.5s, width 0.5s;
    }
  }

  // 控制tittle上移
  .box:hover h1 {
    transform: translateY(-50px);
  }
  .box:hover + p.subtitle {
    transform: translateY(35px);
    opacity: 1;
  }

  .box:hover::after {
    opacity: 1;
    transform: translate3d(0, -50px, 0);
    width: 100%;
  }

  //主標語
  h1 {
    color: #555555;
    transition: transform 0.5s;
    text-align: center;
    display: inline-block;
    border-right: 3px solid;
    white-space: nowrap;
    padding-left: 25px;
    font-size: calc(1.5 * var(--index));
    opacity: 0;

    width: 100%;
    overflow: hidden;
    animation: typing 1s 0.5s steps(14) forwards,
      cursor 0.4s step-end infinite alternate;
  }

  //小標語
  .subtitle {
    color: #555555;
    display: block;
    position: absolute;
    font-size: 19px;
    z-index: -1;
    padding-left: 24px;
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0;
    transform: translateY(80px);
  }
}

.pixelArt {
  image-rendering: pixelated;
}

.navLine {
  // background-color: rgb(128, 114, 98);
  display: flex;
  align-items: end;
  justify-content: end;
  width: 100%;
  height: 20vh;
  position: relative;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 50px;
}

.char {
  position: relative;
  width: calc(67px * var(--pixelSize));
  height: calc(93px * var(--pixelSize));
  // overflow: hidden;

  // 轉轉小人頭上的對話框
  .showDia {
    animation: speakpanelShow 3s, forwards;
  }
  .reShowSia {
    animation: speakpanelShow2 3s, forwards;
  }
  .speakArea {
    display: none;
    opacity: 0;
    .speakBG {
      width: 100px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -30px;
    }
    .speakContent {
      color: #555555;
      // background-color: black;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -60px;
      font-family: pixelFont;
      font-size: 20px;
      text-wrap: nowrap;
      text-align: center;
    }
  }
}

.charChangeMove {
  animation: charSlideLeave auto;
  animation-fill-mode: forwards;
  // animation-timeline: scroll();
  animation-timeline: view(auto 300px);
}
// .charImg {
//   // position: absolute;
//   // width: calc(530px * var(--pixelSize));
//   // z-index: 1;
// }

img.idle {
  width: calc(67px * var(--pixelSize));
  z-index: 1;
  // animation: moveChar 1s steps(10) infinite;
}

img.turn {
  width: calc(67px * var(--pixelSize));
  z-index: 1;
  // animation: moveChar 1s steps(8) infinite;
}

.mainArea {
  margin-top: 2rem;
  display: flex;
  //   flex-direction: row;
  position: relative;

  #charShow {
    display: none;
  }
}
.left {
  // background-color: rgb(131, 140, 218);
  // flex: 2 1 200px;
  // height: 200vh;
  display: flex;

  .profile {
    padding: 50px;
    // background-color: aqua;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0px;
    .photo {
      display: flex;
      width: 120px;
      height: 150px;
      // background-color: black;

      //底部
      .bgImg {
        display: flex;
        position: absolute;
        z-index: 0;
      }
      //中間

      //for心得頁
      .charR {
        position: absolute;
        width: calc(67px * var(--pixelSize));
        height: calc(93px * var(--pixelSize));
        overflow: hidden;
        left: 83px;
        top: 70px;

        //坐著不動的圖
        img.sitGame {
          width: calc(67px * var(--pixelSize));
          position: absolute;
          // animation: moveChar 1s steps(5) infinite;
        }

        //旋轉的圖
        img.turnGame {
          width: calc(67px * var(--pixelSize));
          position: absolute;
          // animation: moveChar 1.2s steps(8) infinite;
        }
      }

      .char {
        position: absolute;
        width: calc(67px * var(--pixelSize));
        height: calc(93px * var(--pixelSize));
        overflow: hidden;
        left: -150px;
        top: 70px;

        //坐著不動的圖
        img.sitGame {
          width: calc(67px * var(--pixelSize));
          position: absolute;
          // animation: moveChar 1s steps(5) infinite;
        }

        //旋轉的圖
        img.turnGame {
          width: calc(67px * var(--pixelSize));
          position: absolute;
          // animation: moveChar 1.2s steps(8) infinite;
        }
      }

      .charShow {
        animation: charSlideShow 1s forwards;
      }
      .charSlideLeaveB {
        animation: charSlideLeaveB 0.5s forwards;
      }
      .inVisible {
        opacity: 0;
      }

      //上層
      .bgTop {
        position: absolute;
        z-index: 3;
      }
    }

    .nav {
      position: relative;
      display: flex;
      width: 200px;
      height: 200px;
      z-index: 3;
      // padding-top: 100px;
      // background-color: aqua;

      p {
        position: absolute;
        text-align: center;
        font-size: 26px;
        color: #fff;
        width: 100%;
        font-family: pixelFont;
        top: 10px;
      }
      img {
        position: absolute;
        z-index: -1;
      }

      .pageSelect {
        padding-top: 52px;
        list-style-type: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      li {
        padding: 10px;
        font-family: pixelFont;
        font-size: 24px;
        text-align: center;
        width: 180px;
      }
      .tag {
        // z-index: -2;
        left: 170px;
        top: 70px;
        // width: 80px;
        display: none; //flex
        width: 100px;
        height: 110px;
        position: absolute;
        align-items: center;
        // background-color: aqua;
        // opacity: 0;
        transition: opacity 1s;

        &::before {
          content: "◄";
          position: absolute;
          font-size: 22px;
          left: -18px;
          color: #202020;
        }

        .type {
          font-size: 20px;
          padding: 5px;
          width: 100px;
        }
      }
      //導覽列按鈕
      .page:hover {
        transition: text-shadow 0.2s;
        transition: color 0.2s;
        // -webkit-text-stroke: 2px white;
        color: #e6e5e5;
        text-shadow: -1px -1px 0 #000000, 1px -1px 0 #313030, -1px 1px 0 #313030,
          2px 2px 0 #000000, 1px 1px 1px black;
      }
      //打開分類列的動畫
      .openPanelAni {
        animation: fadeIn 0.5s;
      }
      .closePaneAni {
        animation: fadeOut 0.5s forwards;
      }
    }
  }
}

////---右側區---////
.right {
  // background-color: rgb(201, 114, 126);
  flex: 7 1 600px;
  // height: 200vh;

  ////////////////////////////防止眼殘  這裡是首頁文章
  .articleArea {
    //////////////////////////////////////臨時
    display: flex;
    // display: none;
    flex-direction: column;
    // align-items: center;
    // padding-top: 1vh;

    //文章動畫
    .AreaA {
      top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1vh;
      .showSecAni {
        animation: showSecAni 1s forwards;
      }
    }
    .article {
      position: relative;
      display: flex;
      margin: 2vh;
      width: 85%;
      min-height: 250px;
      // border: 2px solid black;
      opacity: 0;
      border-radius: 20px;
      overflow: hidden;
      flex-direction: column;
      // background-color: aquamarine;

      transition: box-shadow 0.5s;
      //動畫
      &:hover {
        box-shadow: 0 0 25px rgb(205, 200, 200);
      }

      .content {
        display: flex;
        position: absolute;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        height: 100%;
        width: 100%;
      }
      .content2 {
        display: inline-block;
        flex-direction: column;
        ///這裡要調整
        // min-width: 940px;
        margin-left: 20px;
        margin-right: 20px;
        position: relative;
        width: 100%;
      }
      .articleTittle {
        font-size: 24px;
        font-family: pixelFont;
        font-weight: 600;
        // position: absolute;
        top: 4vw;
        left: 2vw;
        // width: 100%;
        display: block;
      }
      .articleImg {
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(205, 200, 200, 0.397);
        // position: absolute;
        z-index: -1;
        width: 368px;
        height: 172px;
        margin-left: 10px;
      }
      .articleContent {
        color: #555555;
        margin-top: 20px;
        font-size: 18px;
        font-family: pixelFont;
        font-weight: 500;
        // position: absolute;
        top: 7vw;
        left: 2vw;
      }
      .articleDate {
        margin-top: 20px;
        color: #8b8b8b;
        font-size: 16px;
        font-family: pixelFont;
      }
      .articleInfo {
        // text-decoration: none;
        color: #202020;
        font-size: 20px;
        font-family: pixelFont;
        font-weight: 500;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    //換內容按鈕
    .changeBtn {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-family: pixelFont;
        font-size: 20px;
        display: inline;
        position: absolute;
        margin-bottom: 15px;
      }
      .changePage {
        background-color: transparent;
        font-family: pixelFont;
        font-weight: 600;
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 5px;
        margin-bottom: 15px;

        border: 0;
        transition: font-size 0.3s;
        ////////
        &:hover {
          font-size: 30px;
          text-shadow: rgb(179, 179, 178) 1px 0 10px;
        }
      }
    }
  }
  ////////////////////////////防止眼殘  這裡是首頁分類tag
  .tagArea {
    // background-color: #555555;
    ////////////////////////////////////臨時
    // display: flex;
    display: none;
    justify-content: center;
    margin-bottom: 400px;
    .dir {
      //小圖裝飾
      position: absolute;
      width: 15%;
      bottom: 40px;
      right: 50px;
    }
    div {
      flex-wrap: wrap;
      padding-top: 15px;
      padding-left: 25px;
      display: flex;
      flex-direction: row;
      .tagDiv {
        animation: tagDivShow 1s forwards;
        .tagImg {
          width: 306px;
          height: 143px;
          border-radius: 20px;
          margin: 20px;
        }
      }
    }
  }
  ////////////////////////////防止眼殘  這裡是首頁wishList
  .wishArea {
    // padding: 1vh;
    display: none;

    .areaW {
      // background-color: aqua;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 100px;
      margin-top: 16px;

      .wlDivShow {
        animation: tagDivShow 1s forwards;
      }
      .wishDiv {
        margin-top: 2vh;
        // background-color: #555555;
        display: flex;
        flex-direction: column;
        width: 90%;
        // align-items: center;
        border-radius: 20px;
        transition: box-shadow 0.3s;
        //動畫
        &:hover {
          box-shadow: 0 0 25px rgb(205, 200, 200);
          // background-color: #f9f7f7;
        }
        .wishTop {
          display: flex;
          flex-direction: row;
          // background-color: blueviolet;
          justify-content: space-between;
          align-items: center;
          position: relative;

          .wishImg {
            width: 306px;
            height: 143px;
            border-radius: 20px;
            margin: 20px;
          }
          .wishInfo {
            display: inline-block;
            width: 50%;
            height: 100%;
            .wishName {
              position: absolute;
              top: 25px;
              font-size: 24px;
              font-family: pixelFont;
              font-weight: 600;
            }
            .wishContent {
              color: #555555;
              // margin-top: 20px;
              font-size: 18px;
              font-family: pixelFont;
              font-weight: 500;
            }
            .wishTag {
              font-size: 16px;
              font-family: pixelFont;
              position: absolute;
              bottom: 25px;
            }
          }
          .countDownDay {
            // background-color: #a83a3a;

            width: 10%;
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
            transform: translatex(-10px);
            div {
              .countArea {
                // display: flex;
                align-items: end;
                position: relative;
                &::after {
                  content: "";
                  background-color: #000000;
                  height: 2px;
                  width: 100%;
                  bottom: 5px;
                  position: absolute;
                }
                .dayNum {
                  display: inline;
                  font-size: 64px;
                  font-family: pixelFont;
                }
                .day {
                  transform: translateY(-12px);
                  margin-left: 8px;
                  display: inline;
                  font-size: 20px;
                  font-family: pixelFont;
                }
              }
              p {
                // display: block;
                font-size: 20px;
                // width: 150px;
                text-align: center;
                font-family: pixelFont;
              }
            }
          }
        }
        //bar的部分
        .wishBottom {
          width: 100%;
          height: 20px;
          background-color: rgb(143, 128, 156);
        }
      }
    }
  }

  //---心得頁面的設定---//
  .rwHere {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1s forwards;
  }
  .rwArea {
    justify-self: center;
    margin-bottom: 30px;
    font-family: pixelFont;
    width: 80%;
    box-shadow: 0 0 25px rgb(205, 200, 200);
    // background-color: #989696;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;

    .rwTittle {
      margin-top: 30px;
      margin-bottom: 20px;
      position: relative;
      width: 85%;
      min-height: 15vh;
      // background-color: aqua;
      display: flex;
      align-items: center;
      // justify-content: ;
      .rwT {
        font-size: 30px;
        font-weight: 600;
      }
      .rwDate {
        margin-left: 20px;
        color: #8b8b8b;
        font-size: 16px;
        // width: 100%;
        // text-align: end;
      }
      &::after {
        content: "";
        width: 100%;
        height: 5px;
        background-color: #000000;
        position: absolute;
        bottom: -1px;
      }
    }
    .rwContent {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .rwArticle {
        color: #555555;
        display: flex;
        flex-direction: column;
        p {
          margin-top: 20px;
        }
        img {
          padding-top: 30px;
          padding-bottom: 5px;
          max-width: 70%;
          max-height: 70%;
          align-self: center;
        }
        figcaption {
          max-width: 70%;

          align-self: center;
        }
        max-width: 85%;
        // border: 2px solid wheat;
        font-size: 18px;
        line-height: 1.5;
      }

      .rwImg {
        margin-top: 50px;
        margin-bottom: 40px;
        width: 84%;
        min-height: 30vh;
        position: relative;
        // background-color: #973e3e;
        .slideIcon {
          position: absolute;
          top: 50%;
          height: 40px;
          width: 40px;
          transform: translateY(-50%);
          cursor: pointer;

          &:first-child {
            left: -25px;
            display: none;
            z-index: 1;
          }
        }
        #right {
          right: -25px;
          z-index: 1;
        }

        .dragging {
          cursor: grab;
          scroll-behavior: auto;

          img {
            pointer-events: none;
          }
        }
        div {
          display: flex;
          flex-wrap: nowrap;
          // font-size: 0;
          cursor: pointer;
          overflow: hidden;
          scroll-behavior: smooth;

          img {
            height: 300px;
            width: 50%;
            object-fit: cover;
            margin-left: 10px;
            z-index: 0;

            &:hover {
              opacity: 0.8;
            }
            &:first-child {
              margin-left: 0px;
            }
          }
        }

        .imgClick {
          position: fixed;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.9);
          height: 100%;
          width: 100%;
          z-index: 100;
          display: none;
          animation: fadeIn 0.2s;
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
            width: 70%;
            overflow: visible;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .rwAreaB {
    font-family: pixelFont;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;

    .myArt {
      display: flex;
      position: relative;

      .video {
        margin-left: 20px;
      }

      .folder {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;

        &:hover {
          box-shadow: 0 0 25px rgb(205, 200, 200);
        }
        p {
          display: inline;
          margin-bottom: 5px;
        }
      }
      img {
        margin: 15px;
        margin-bottom: 10px;
        max-width: 100px;
        max-height: 100px;
      }
    }

    .infoFolder {
      z-index: 3;
      background-color: transparent;
      border-radius: 15px;
      animation: windowOpenAin 0.3s forwards;
      p {
        position: absolute;
        font-family: pixelFont;
        font-size: 28px;
        color: #fff;
        top: 20px;
        left: 20px;
      }
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
      display: none;
      position: absolute;
      height: 300px;
      width: 500px;
      img {
        height: 300px;
        // position: absolute;
      }
      span {
        // background-color: #724d4d;
        position: absolute;
        height: 35px;
        width: 58px;
        top: 8px;
        right: 38px;
      }
      div {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 65px;
        left: 25px;
        width: 90%;
        height: 72%;
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 8px;
          // height: 8px;
          background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
          background: #555555;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: #202020;
        }

        a {
          color: #555555;
          font-family: pixelFont;
          margin-top: 10px;
          transition: background-color 0.2s;

          &:hover {
            color: #2e2d2d;
            background-color: rgba(205, 200, 200, 0.397);
          }

          &:active {
            color: #181515;
            background-color: rgba(117, 107, 107, 0.397);
          }
        }
      }
    }
    .Window {
      animation: windowOpenAin 0.3s;
      z-index: 3;
      position: absolute;
      top: 70%;
      overflow: hidden;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      border: 4px solid rgb(0, 0, 0);
      background-color: #000000;
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
      display: none;
      // display: flex;

      // top: 70%; // overflow: hidden;
      // object-fit: contain;
      .line {
        position: absolute;
        background-color: #000000;
        width: 100%;
        height: 30px;
        font-family: pixelFont;
        p {
          margin-left: 10px;
          color: #fff;
          font-size: 24px;
          position: absolute;
        }
      }
      .closeBtn {
        background-color: rgb(52, 52, 52);
        position: absolute;
        height: 30px;
        width: 40px;
        top: 0px;
        right: 0px;
        z-index: 2;
        img {
          position: absolute;
          width: 30px;
          top: 5px;
          left: 5px;
        }
      }
      .artImg {
        // object-fit: cover;
        width: 30vw;
      }
      .artVideo {
        width: 30vw;
        z-index: -2;
      }
    }
    .rwAreaC {
      font-family: pixelFont;
      width: 90%;
      box-shadow: 0 0 25px rgb(205, 200, 200);
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  .rwAreaC {
    z-index: 0;
    // font-family: pixelFont;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    .typeComment {
      // border: 2px solid black;
      box-shadow: 0 0 25px rgb(205, 200, 200);
      width: 100%;
      height: 100px;
      z-index: 1;
      textarea {
        font-family: pixelFont;
        padding: 10px;
        resize: none;
        width: 100%;
        height: 100px;
        background-color: transparent;
        border: 0;
        font-size: 20px;

        &::-webkit-scrollbar {
          width: 8px;
          // height: 8px;
          background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
          background: rgb(150, 116, 116);
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: rgb(112, 84, 84);
        }

        &:focus {
          outline: none;
        }
      }
    }
    .comment {
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      .comBox {
        animation: comShow 0.5s;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px;
        justify-content: start;
        .diaImg {
          display: flex;
          flex-direction: row;
          margin-right: 0px;
          width: 20%;
          justify-content: center;
          .comImg {
            position: absolute;
            top: 0;
            width: 10%;
          }
          .comdate {
            color: #8b8a8a;
            align-items: center;
            position: absolute;
            font-family: pixelFont;
            font-size: 16px;
            bottom: 2%;
            // left: -3px;
          }
        }
        .diaBox {
          position: relative;
          .comBG {
            width: 100%;
            height: 100%;
          }
          .diaText {
            white-space: pre;
            position: absolute;
            width: 95%;
            max-height: 73px;
            top: 0px;
            left: 0px;
            margin: 25px;
            font-family: pixelFont;
            font-size: 20px;
            overflow-y: auto;
            &::-webkit-scrollbar {
              width: 5px;
              height: 8px;
              background-color: transparent;
            }
            &::-webkit-scrollbar-thumb {
              background: rgb(150, 116, 116);
              border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb:hover {
              background: rgb(112, 84, 84);
            }
          }
        }
      }
    }
  }
}

footer {
  background-color: rgb(0, 0, 0);
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-items: center;

  div.footerArea {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    p {
      margin-right: 10px;
      font-family: pixelFont;
      font-size: 14px;
      color: #fff;
    }
    div {
      img {
        margin-left: 5px;
        width: 40px;
        height: 40px;
      }
    }
  }
}
// 滾動頁面時移動像素小人
@keyframes moveChar {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes charSlideLeave {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-100vw);
  }
}

@keyframes charSlideShow {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(233px);
  }
}

@keyframes charSlideLeaveB {
  0% {
    transform: translateX(233px);
  }

  100% {
    transform: translateX(0);
  }
}

@font-face {
  font-family: pixelFont;
  src: url(../Font/Cubic_11_1.100_R.woff) format("woff");
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  0% {
    width: 0;
    // opacity: 0;
  }

  10% {
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes tittleUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(200px);
  }
}

@keyframes windowOpen {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  60% {
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(10px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes showSecAni {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
// @調整縮小時的大小比例;;;;;;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes tagDivShow {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

//////切換面板的動畫//////
.closeArea {
  animation: closeArea 0.5s forwards;
}
@keyframes closeArea {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.openArea {
  animation: openArea 0.5s forwards;
}
@keyframes openArea {
  from {
    // display: flex;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// 首頁頂部的對話面板
@keyframes speakpanelShow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes speakpanelShow2 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes comShow {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes windowOpenAin {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
//////切換面板的動畫//////
